/* Mobile Styles ------------------------>

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  width: 100%;
  margin: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Arial, Helvetica, sans-serif
}

li {
  list-style: none;
}

hr {
  width: 80%;
}

@media (max-width: 550px) {
}

/* layout styles */

.schedule-tour {
  display: flex;
  flex-direction: column;
}

.meet-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.video-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-1-image {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.testimonial-2-image {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.programs-box {
  background-color: violet;
  color: white;
  margin-top: 1.5em;
}

/* block styles */
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.33rem solid grey;
}

.ul {
  color: purple;
}

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.programs-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 5em;
  width: auto;
  max-width: 80rem;
  padding: 2em;
  background-color: lightgray;
}

.members {
  margin-bottom: 1em;
  display: flex;
  width: 100%;
  margin: 2rem;
  padding: 2em;
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 2em;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Desktop Styles -------------------------------->

/* base styles */

@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: row;
  }
}
